.news-page {
	justify-content: flex-start !important;
	max-height: 100vh;

	.title {
		font-size: 40px;
		margin: 30px 0 20px 0;
	}
	.headline {
		font-size: 27px;
		margin: 0;
		text-shadow: 0 0 10px grey;
	}
	.content {
		overflow-y: scroll;
		&::-webkit-scrollbar {
			display: none;
		}
		img {
			width: 50vw;
			border: 3px solid #ffe65e;
			border-radius: 10px;
		}
		.details {
			max-width: 60vw;
			p {
				text-align: start;
				margin-top: 5px;
				margin-bottom: 15px;
				text-shadow: 0 0 10px grey;
			}
		}
	}

	button {
		background: none;
		border: none;
		margin-bottom: 10px;
		font-weight: bold;
		color: #ffe65e;
		cursor: pointer;
	}
	a {
		color: #ffe65e;
	}
}
