.image-wrapper {
	width: 90px;
	height: 60px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	border: 2px #ffe65e solid;
	border-radius: 4px;

	overflow: hidden;

	img {
		width: 100%;
	}
}
